html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font:12px arial;
}
#header{
    height:40px;
}
.top{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav{
    float: right;
    margin-top: 20px;
}
#content{
    position: relative;
    width: 642px;
    margin: 0 auto;
    height:100%;
    top: 30px;;
}
.top li{
    display: inline;
    font-size: 13px;
    margin-left:20px;
}
.nav_all a{
    color: #333;
    font-weight: 700;
}
.nav_all a:hover{
    color: blue;
}
.pic{
    height: 61.8%;
    position: relative;
}
img{
    width: 270px;
    height: 129px;
    position: absolute;
    left: 186px;
    bottom: 10px;
}
form{
    display: block;
    text-align: center;
}
.searchBox{
    display: block;
    width: 539px;
    height: 34px;
    border: 1px solid #b8b8b8;
    overflow: hidden;
}
.searchBox:hover{
    border-color:#999;;
}
.searchBox:active{
    border-color: #3385ff;
}
#ck{
    width: 500px;
    height: 22px;
    font: 16px arial;
    border: 0;
    line-height: 22px;
    margin: 6px 0 0 7px;
    padding: 0;
    outline: 0;
    float: left;
}
.btn{
    width: 100px;
    height: 36px;
    background-color: #3385ff;
    color: white;
    border: 0px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
}
.s_btn{
    position: relative;
    display: inline;
    top: -36px;
    left: 270px;
}
.btn:hover{
    background-color: #317ef3;
}
.camera:hover{
    color: #3385ff;
}
#footer{
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 0px;
    height: 40px;
    background-color: #fafafa;
    color: #999;
}
#footer ul li{
    display: inline;
    font-size: 13px;
    margin-right:20px;
}
.bottom_nav{
    display: inline;
    line-height: 40px;
    margin: 0px;
}
.bottom_nav ul{
    width: 650px;
    margin: 0px;
    padding-left: 20px;
}

#footer ul{
    margin: 0px;
}
#footer ul li a{
    color: #999;
    text-decoration: none;
}
.bottom_right_nav{
    position: absolute;
    display: inline;
    line-height: 40px;
    margin: 0px;
    right: 0px;
    top: 0px;
    color: #bbb;
}
.bottom_right_nav ul{
    margin: 0px;
}
.center{
    position: absolute;
    width: 100%;
    bottom: 132px;
    height: 163px;
    text-align: center;             
}
.scan{    
    margin: 0 auto;
    width: 159px;
    height: 163px;
}
.erweima{
    width: 106px;
    height: 106px;
    background-image: url(../image/erweima.png);
    margin: 0 auto;
}
.erweima_text p{
    margin: 0px;
}
.title{
    color: #333;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 200%;
    text-align: center;
}
.sub_title{
    color: #999;
    font-size: 14px;
    font-weight: 300;
}
.bottom_nav li a:hover{
    color: #333;
}
.more{
    background-color: #3385ff;
    padding: 5px;
    margin-right: 10px;
}
.feiyan a{
    font-weight: 700;
    color: #f23f40;
    cursor: pointer;
}
.more a{
    color: white;
    text-decoration: none;
    font-weight: thin;
}
.more a:hover{
    color: #333;
}
.head_wrapper{
    width: 100%;
    height: 38.2%;
}
.red{
    position: absolute;
    top: 20px;
    right: 504px;;
    content: ' ';
    width: 6px;
    height: 6px;
    background-color: #f23f40;
    border-radius: 50%;
}

